body {
background-color;#E5E5E5
color:  #212121
}
/* цвет основного текста color: #212121 */
/* вторичний цвет: #757575     */
/* белий background: #FFFFFF;  */
/* акцент background: #2196F3;*/
/* цвет фона background: #E5E5E5;  */
.web {
    color:#2196F3 ;   
}
.studio {
    color:#212121;
}
.logo {
    text-decoration: none;
}

/* site-nav */
.site-nav a {
    color: #212121;
}

